{% extends "index_master.html" %}

{% block content %}
<div class="right_col" role="main">
    <h1>AGREGAR PROGRAMA</h1>

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <form action="{% url 'agregar_programa' %}" method="POST">
        {% csrf_token %}

        <!-- ID Proyecto -->
        <div class="form-group row">
            <label for="id_proyecto" class="col-4 col-form-label">ID Proyecto</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-500px"></i>
                        </div>
                    </div>
                    <select id="id_proyecto" name="id_proyecto" class="form-control">
                        <option value="">Seleccione Proyecto</option>
                        {% for proyecto in proyectos %}
                        <option value="{{ proyecto.id }}">{{ proyecto.id }}</option>
                        {% endfor %}
                    </select>
                    {% if form.id_proyecto.errors %}
                    <div class="alert alert-danger">
                        {{ form.id_proyecto.errors }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Tipo de Prospección -->
        <div class="form-group row">
            <label for="tipo_prospeccion" class="col-4 col-form-label">Tipo de Prospección</label>
            <div class="col-8">
                <select id="tipo_prospeccion" name="tipo_prospeccion" class="form-control">
                    <option value="">Seleccione Tipo de Prospección</option>
                </select>
            </div>
        </div>

        <!-- ID Prospección -->
        <div class="form-group row">
            <label for="id_prospeccion" class="col-4 col-form-label">ID Prospección</label>
            <div class="col-8">
                <select id="id_prospeccion" name="id_prospeccion" class="form-control">
                    <option value="">Seleccione Prospección</option>
                </select>
            </div>
        </div>

        <!-- Área -->
        <div class="form-group row">
            <label for="id_area" class="col-4 col-form-label">Área</label>
            <div class="col-8">
                <input type="text" class="form-control" id="id_area" name="area" readonly>
            </div>
        </div>


        <!-- Objetivo -->
        <div class="form-group row">
            <label for="objetivo" class="col-4 col-form-label">Objetivo</label>
            <div class="col-8">
                <select id="objetivo" name="objetivo" class="form-control">
                    <option value="">Seleccione Objetivo</option>
                    {% for key, value in form.objetivo.field.choices %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
                {% if form.objetivo.errors %}
                <div class="alert alert-danger">
                    {{ form.objetivo.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Cantidad -->
        <div class="form-group row">
            <label for="cantidad" class="col-4 col-form-label">Cantidad</label>
            <div class="col-8">
                {{ form.cantidad }}
                {% if form.cantidad.errors %}
                <div class="alert alert-danger">
                    {{ form.cantidad.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Fecha de Ingreso al Laboratorio -->
        <div class="form-group row">
            <label for="fecha_ingreso_lab" class="col-4 col-form-label">Fecha de Ingreso al Laboratorio</label>
            <div class="col-8">
                {{ form.fecha_ingreso_lab }}
                {% if form.fecha_ingreso_lab.errors %}
                <div class="alert alert-danger">
                    {{ form.fecha_ingreso_lab.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- ID Ingreso -->
        <div class="form-group row">
            <label for="id_ingreso" class="col-4 col-form-label">ID Ingreso</label>
            <div class="col-8">
                {{ form.id_ingreso }}
                {% if form.id_ingreso.errors %}
                <div class="alert alert-danger">
                    {{ form.id_ingreso.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Fecha de Envío del Programa -->
        <div class="form-group row">
            <label for="fecha_envio_programa" class="col-4 col-form-label">Fecha de Envío del Programa</label>
            <div class="col-8">
                {{ form.fecha_envio_programa }}
                {% if form.fecha_envio_programa.errors %}
                <div class="alert alert-danger">
                    {{ form.fecha_envio_programa.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Asignar Muestra -->
        <div class="form-group row">
            <label for="asignar_muestra" class="col-4 col-form-label">Asignar Muestra</label>
            <div class="col-8">
                {{ form.asignar_muestra }}
                {% if form.asignar_muestra.errors %}
                <div class="alert alert-danger">
                    {{ form.asignar_muestra.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Fecha del Informe -->
        <div class="form-group row">
            <label for="fecha_informe" class="col-4 col-form-label">Fecha del Informe</label>
            <div class="col-8">
                {{ form.fecha_informe }}
                {% if form.fecha_informe.errors %}
                <div class="alert alert-danger">
                    {{ form.fecha_informe.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Cantidad Recibida -->
        <div class="form-group row">
            <label for="cantidad_recibida" class="col-4 col-form-label">Cantidad Recibida</label>
            <div class="col-8">
                {{ form.cantidad_recibida }}
                {% if form.cantidad_recibida.errors %}
                <div class="alert alert-danger">
                    {{ form.cantidad_recibida.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- N° Informe -->
        <div class="form-group row">
            <label for="n_informe" class="col-4 col-form-label">N° Informe</label>
            <div class="col-8">
                {{ form.n_informe }}
                {% if form.n_informe.errors %}
                <div class="alert alert-danger">
                    {{ form.n_informe.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- N° EP -->
        <div class="form-group row">
            <label for="n_ep" class="col-4 col-form-label">N° EP</label>
            <div class="col-8">
                {{ form.n_ep }}
                {% if form.n_ep.errors %}
                <div class="alert alert-danger">
                    {{ form.n_ep.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Botón de Envío -->
        <div class="form-group row">
            <div class="col-8 offset-4">
                <button type="submit" class="btn btn-primary">Agregar Programa</button>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_proyecto').change(function() {
            var id_proyecto = $(this).val();
            if (id_proyecto) {
                $.ajax({
                    url: '{% url "obtener_tipos_prospeccion" %}',
                    data: {'id_proyecto': id_proyecto},
                    success: function(data) {
                        var tipoProspeccionSelect = $('#tipo_prospeccion');
                        tipoProspeccionSelect.empty();
                        tipoProspeccionSelect.append('<option value="">Seleccione Tipo de Prospección</option>');
                        $.each(data, function(key, value) {
                            tipoProspeccionSelect.append('<option value="'+ key +'">'+ value +'</option>');
                        });
                    }
                });
            } else {
                $('#tipo_prospeccion').empty().append('<option value="">Seleccione Tipo de Prospección</option>');
                $('#id_prospeccion').empty().append('<option value="">Seleccione Prospección</option>');
            }
        });

        $('#tipo_prospeccion').change(function() {
            var id_proyecto = $('#id_proyecto').val();
            var tipo_prospeccion = $(this).val();
            if (id_proyecto && tipo_prospeccion) {
                $.ajax({
                    url: '{% url "obtener_id_prospecciones" %}',
                    data: {
                        'id_proyecto': id_proyecto,
                        'tipo_prospeccion': tipo_prospeccion
                    },
                    success: function(data) {
                        var idProspeccionSelect = $('#id_prospeccion');
                        idProspeccionSelect.empty();
                        idProspeccionSelect.append('<option value="">Seleccione Prospección</option>');
                        $.each(data, function(key, value) {
                            idProspeccionSelect.append('<option value="'+ key +'">'+ value +'</option>');
                        });
                    }
                });
            } else {
                $('#id_prospeccion').empty().append('<option value="">Seleccione Prospección</option>');
            }
        });

        $('#id_prospeccion').change(function() {
            var prospeccion_id = $(this).val();
            if (prospeccion_id) {
                $.ajax({
                    url: '{% url "get_area" %}',
                    data: {'prospeccion_id': prospeccion_id},
                    success: function(data) {
                        $('#area').val(data.area);
                    }
                });
            } else {
                $('#area').val('');
            }
        });
        $('#id_prospeccion').change(function() {
            var prospeccion_id = $(this).val();
            if (prospeccion_id) {
                $.ajax({
                    url: '{% url "get_area" %}',
                    data: {'prospeccion_id': prospeccion_id},
                    success: function(data) {
                        $('#id_area').val(data.area);
                    }
                });
            } else {
                $('#id_area').val('');
            }
        });
    });
</script>

{% endblock %}