{% extends '../index_master.html' %}

{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">

        <h1>ELIMINAR</h1>

        <form action="{% url 'eliminar_usuarios' %}" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-4 col-form-label">ID de usuario</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-address-card"></i>
                            </div>
                        </div>
                        <select id="n" name="n">
                            {% for u in usuarios %}
                            <option value="{{ u.n }}">{{ u.n }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-4 col-8">
                    <button name="submit" type="submit" class="btn btn-danger"><i class="fa fa-remove"></i> eliminar</button>
                </div>
            </div>
        </form>

    </div>

    <!-- /page content -->
{% endblock %}
