{% extends '../index_master.html' %}

{% block content %}
    <div class="right_col" role="main">
        <h1>Detalle de la Prospección</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>N:</th>
                        <td>{{ prospeccion.n }}</td>
                    </tr>
                    <tr>
                        <th>Tipo de Prospección:</th>
                        <td>{{ prospeccion.tipo_prospeccion }}</td>
                    </tr>
                    <tr>
                        <th>ID Proyecto:</th>
                        <td>{{ prospeccion.id_proyecto }}</td>
                    </tr>
                    <tr>
                        <th>ID Prospección:</th>
                        <td>{{ prospeccion.id_prospeccion }}</td>
                    </tr>
                    <tr>
                        <th>Área:</th>
                        <td>{{ prospeccion.area }}</td>
                    </tr>
                    <tr>
                        <th>Fecha Inicio:</th>
                        <td>{{ prospeccion.fecha_inicio|date:"d/m/Y" }}</td>
                    </tr>
                    <tr>
                        <th>Fecha Término:</th>
                        <td>{{ prospeccion.fecha_termino|date:"d/m/Y" }}</td>
                    </tr>
                    <!-- Agrega más campos según sea necesario -->
                </table>
                <a href="{% url 'listar_prospecciones' %}" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </div>
    </div>
{% endblock %}
