{% extends "index_master.html" %}

{% block content %}
<div class="right_col" role="main">
    <h1>AGREGAR MUESTREO</h1>

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <form action="{% url 'agregar_muestreo' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group row">
            <label for="id_proyecto" class="col-4 col-form-label">ID Proyecto</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-500px"></i>
                        </div>
                    </div>
                    <select id="id_proyecto" name="id_proyecto" class="form-control">
                        <option value="">Seleccione Proyecto</option>
                        {% for proyecto in proyectos %}
                        <option value="{{ proyecto.id }}">{{ proyecto.id }}</option>
                        {% endfor %}
                    </select>
                    {% if form.id_proyecto.errors %}
                    <div class="alert alert-danger">
                        {{ form.id_proyecto.errors }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="tipo_prospeccion" class="col-4 col-form-label">Tipo de Prospección</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-500px"></i>
                        </div>
                    </div>
                    <select id="tipo_prospeccion" name="tipo_prospeccion" class="form-control">
                        <option value="">Seleccione Tipo de Prospección</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="id_prospeccion" class="col-4 col-form-label">ID Prospección</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-address-card-o"></i>
                        </div>
                    </div>
                    <select id="id_prospeccion" name="id_prospeccion" class="form-control">
                        <option value="">Seleccione Prospección</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="fecha_muestreo" class="col-4 col-form-label">Fecha de Muestreo</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    {{ form.fecha_muestreo }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="n_muestra" class="col-4 col-form-label">Número de Muestra</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-hashtag"></i>
                        </div>
                    </div>
                    {{ form.n_muestra }}
                    {% if form.n_muestra.errors %}
                    <div class="alert alert-danger">
                        {{ form.n_muestra.errors }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="embalaje" class="col-4 col-form-label">Embalaje</label>
            <div class="col-8">
                {{ form.embalaje }}
                {% if form.embalaje.errors %}
                <div class="alert alert-danger">
                    {{ form.embalaje.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label for="peso" class="col-4 col-form-label">Peso</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-balance-scale"></i>
                        </div>
                    </div>
                    {{ form.peso }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="cota_desde" class="col-4 col-form-label">Cota Desde</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-arrow-down"></i>
                        </div>
                    </div>
                    {{ form.cota_desde }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="cota_hasta" class="col-4 col-form-label">Cota Hasta</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-arrow-up"></i>
                        </div>
                    </div>
                    {{ form.cota_hasta }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="estrato" class="col-4 col-form-label">Estrato</label>
            <div class="col-8">
                {{ form.estrato }}
            </div>
        </div>

        <div class="form-group row">
            <label for="tipo" class="col-4 col-form-label">Tipo</label>
            <div class="col-8">
                {{ form.tipo }}
            </div>
        </div>

        <div class="form-group row">
            <label for="area" class="col-4 col-form-label">Área</label>
            <div class="col-8">
                {{ form.area }}
            </div>
        </div>

        <div class="form-group row">
            <label for="observacion" class="col-4 col-form-label">Observación</label>
            <div class="col-8">
                {{ form.observacion }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 offset-4">
                <button type="submit" class="btn btn-primary">Agregar Muestreo</button>
            </div>
        </div>
    </form>
</div>
<!-- /page content -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_proyecto').change(function() {
            var id_proyecto = $(this).val();
            if (id_proyecto) {
                $.ajax({
                    url: '{% url "obtener_tipos_prospeccion" %}',
                    data: {'id_proyecto': id_proyecto},
                    success: function(data) {
                        var tipoProspeccionSelect = $('#tipo_prospeccion');
                        tipoProspeccionSelect.empty();
                        tipoProspeccionSelect.append('<option value="">Seleccione Tipo de Prospección</option>');
                        $.each(data, function(key, value) {
                            tipoProspeccionSelect.append('<option value="'+ key +'">'+ value +'</option>');
                        });
                    }
                });
            } else {
                $('#tipo_prospeccion').empty().append('<option value="">Seleccione Tipo de Prospección</option>');
                $('#id_prospeccion').empty().append('<option value="">Seleccione Prospección</option>');
            }
        });

        $('#tipo_prospeccion').change(function() {
            var id_proyecto = $('#id_proyecto').val();
            var tipo_prospeccion = $(this).val();
            if (id_proyecto && tipo_prospeccion) {
                $.ajax({
                    url: '{% url "obtener_id_prospecciones" %}',
                    data: {
                        'id_proyecto': id_proyecto,
                        'tipo_prospeccion': tipo_prospeccion
                    },
                    success: function(data) {
                        var idProspeccionSelect = $('#id_prospeccion');
                        idProspeccionSelect.empty();
                        idProspeccionSelect.append('<option value="">Seleccione Prospección</option>');
                        $.each(data, function(key, value) {
                            idProspeccionSelect.append('<option value="'+ key +'">'+ value +'</option>');
                        });
                    }
                });
            } else {
                $('#id_prospeccion').empty().append('<option value="">Seleccione Prospección</option>');
            }
        });

        $('#id_prospeccion').change(function() {
            var prospeccion_id = $(this).val();
            if (prospeccion_id) {
                $.ajax({
                    url: '{% url "get_area" %}',
                    data: {'prospeccion_id': prospeccion_id},
                    success: function(data) {
                        $('#id_area').val(data.area);
                    }
                });
            } else {
                $('#id_area').val('');
            }
        });
    });
</script>
{% endblock %}