{% extends "index_master.html" %}

{% block content %}
<div class="right_col" role="main">
    <h1>AGREGAR MUESTREO</h1>

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <form action="{% url 'agregar_muestreo' %}" method="POST">
        {% csrf_token %}

        <!-- ID Proyecto -->
        <div class="form-group row">
            <label for="id_proyecto" class="col-4 col-form-label">ID Proyecto</label>
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-500px"></i>
                        </div>
                    </div>
                    <select id="id_proyecto" name="id_proyecto" class="form-control">
                        <option value="">Seleccione Proyecto</option>
                        {% for proyecto in proyectos %}
                        <option value="{{ proyecto.id }}">{{ proyecto.id }}</option>
                        {% endfor %}
                    </select>
                    {% if form.id_proyecto.errors %}
                    <div class="alert alert-danger">
                        {{ form.id_proyecto.errors }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Tipo de Prospección -->
        <div class="form-group row">
            <label for="tipo_prospeccion" class="col-4 col-form-label">Tipo de Prospección</label>
            <div class="col-8">
                <select id="tipo_prospeccion" name="tipo_prospeccion" class="form-control">
                    <option value="">Seleccione Tipo de Prospección</option>
                </select>
            </div>
        </div>

        <!-- ID Prospección -->
        <div class="form-group row">
            <label for="id_prospeccion" class="col-4 col-form-label">ID Prospección</label>
            <div class="col-8">
                <select id="id_prospeccion" name="id_prospeccion" class="form-control">
                    <option value="">Seleccione Prospección</option>
                </select>
            </div>
        </div>

        <!-- Área -->
        <div class="form-group row">
            <label for="id_area" class="col-4 col-form-label">Área</label>
            <div class="col-8">
                <input type="text" class="form-control" id="id_area" name="area" readonly>
            </div>
        </div>

        <!-- Fecha de Muestreo -->
        <div class="form-group row">
            <label for="fecha_muestreo" class="col-4 col-form-label">Fecha de Muestreo</label>
            <div class="col-8">
                {{ form.fecha_muestreo }}
            </div>
        </div>

        <!-- ID Muestra -->
        <div class="form-group row">
            <label for="id_muestra" class="col-4 col-form-label">ID Muestra</label>
            <div class="col-8">
                {{ form.id_muestra }}
                {% if form.id_muestra.errors %}
                <div class="alert alert-danger">
                    {{ form.id_muestra.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Tipo de Embalaje -->
        <div class="form-group row">
            <label for="tipo_embalaje" class="col-4 col-form-label">Tipo de Embalaje</label>
            <div class="col-8">
                {{ form.tipo_embalaje }}
                {% if form.tipo_embalaje.errors %}
                <div class="alert alert-danger">
                    {{ form.tipo_embalaje.errors }}
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Cantidad -->
        <div class="form-group row">
            <label for="cantidad" class="col-4 col-form-label">Cantidad</label>
            <div class="col-8">
                {{ form.cantidad }}
            </div>
        </div>

        <!-- Peso Unitario -->
        <div class="form-group row">
            <label for="peso_unitario" class="col-4 col-form-label">Peso Unitario</label>
            <div class="col-8">
                {{ form.peso_unitario }}
            </div>
        </div>

        <!-- Peso Total -->
        <div class="form-group row">
            <label for="peso_total" class="col-4 col-form-label">Peso Total</label>
            <div class="col-8">
                {{ form.peso_total }}
            </div>
        </div>

        <!-- Profundidad Desde -->
        <div class="form-group row">
            <label for="profundidad_desde" class="col-4 col-form-label">Profundidad Desde</label>
            <div class="col-8">
                {{ form.profundidad_desde }}
            </div>
        </div>

        <!-- Profundidad Hasta -->
        <div class="form-group row">
            <label for="profundidad_hasta" class="col-4 col-form-label">Profundidad Hasta</label>
            <div class="col-8">
                {{ form.profundidad_hasta }}
            </div>
        </div>

        <!-- Estrato -->
        <div class="form-group row">
            <label for="estrato" class="col-4 col-form-label">Estrato</label>
            <div class="col-8">
                {{ form.estrato }}
            </div>
        </div>

        <!-- Tipo -->
        <div class="form-group row">
            <label for="tipo" class="col-4 col-form-label">Tipo</label>
            <div class="col-8">
                {{ form.tipo }}
            </div>
        </div>

        <!-- Nombre del Despachador -->
        <div class="form-group row">
            <label for="nombre_despachador" class="col-4 col-form-label">Nombre del Despachador</label>
            <div class="col-8">
                {{ form.nombre_despachador }}
            </div>
        </div>

        <!-- Fecha de Despacho -->
        <div class="form-group row">
            <label for="fecha_despacho" class="col-4 col-form-label">Fecha de Despacho</label>
            <div class="col-8">
                {{ form.fecha_despacho }}
            </div>
        </div>

        <!-- Destino -->
        <div class="form-group row">
            <label for="destino" class="col-4 col-form-label">Destino</label>
            <div class="col-8">
                {{ form.destino }}
            </div>
        </div>

        <!-- Orden de Transporte -->
        <div class="form-group row">
            <label for="orden_trasporte" class="col-4 col-form-label">Orden de Transporte</label>
            <div class="col-8">
                {{ form.orden_trasporte }}
            </div>
        </div>

        <!-- Observación -->
        <div class="form-group row">
            <label for="observacion" class="col-4 col-form-label">Observación</label>
            <div class="col-8">
                {{ form.observacion }}
            </div>
        </div>

        <!-- Botón de Envío -->
        <div class="form-group row">
            <div class="col-8 offset-4">
                <button type="submit" class="btn btn-primary">Agregar Muestreo</button>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_proyecto').change(function() {
            var id_proyecto = $(this).val();
            if (id_proyecto) {
                $.ajax({
                    url: '{% url "obtener_tipos_prospeccion" %}',
                    data: {'id_proyecto': id_proyecto},
                    success: function(data) {
                        var tipoProspeccionSelect = $('#tipo_prospeccion');
                        tipoProspeccionSelect.empty();
                        tipoProspeccionSelect.append('<option value="">Seleccione Tipo de Prospección</option>');
                        $.each(data, function(key, value) {
                            tipoProspeccionSelect.append('<option value="'+ key +'">'+ value +'</option>');
                        });
                    }
                });
            } else {
                $('#tipo_prospeccion').empty().append('<option value="">Seleccione Tipo de Prospección</option>');
                $('#id_prospeccion').empty().append('<option value="">Seleccione Prospección</option>');
            }
        });

        $('#tipo_prospeccion').change(function() {
            var id_proyecto = $('#id_proyecto').val();
            var tipo_prospeccion = $(this).val();
            if (id_proyecto && tipo_prospeccion) {
                $.ajax({
                    url: '{% url "obtener_id_prospecciones" %}',
                    data: {
                        'id_proyecto': id_proyecto,
                        'tipo_prospeccion': tipo_prospeccion
                    },
                    success: function(data) {
                        var idProspeccionSelect = $('#id_prospeccion');
                        idProspeccionSelect.empty();
                        idProspeccionSelect.append('<option value="">Seleccione Prospección</option>');
                        $.each(data, function(key, value) {
                            idProspeccionSelect.append('<option value="'+ key +'">'+ value +'</option>');
                        });
                    }
                });
            } else {
                $('#id_prospeccion').empty().append('<option value="">Seleccione Prospección</option>');
            }
        });

        $('#id_prospeccion').change(function() {
            var prospeccion_id = $(this).val();
            if (prospeccion_id) {
                $.ajax({
                    url: '{% url "get_area" %}',
                    data: {'prospeccion_id': prospeccion_id},
                    success: function(data) {
                        $('#id_area').val(data.area);
                    }
                });
            } else {
                $('#id_area').val('');
            }
        });
    });
</script>

{% endblock %}